body {
    background-image: url("../images/check.jpg");
    background-size: cover;           
    background-position: center;      
    background-repeat: no-repeat;     
    background-attachment: fixed;   
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

